<div id="aboutUs">
  <div class="container">
    <nav>
      <a routerLink="/" (click)="scrollToTop()">
        <img src="../../../assets/images/Logo.png" class="logo" alt="Logo">
      </a>
      <ul id="sidemenu">
        <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
        <li><a routerLink="/about-us" (click)="scrollToTop()">AboutUs</a></li>
        <li><a routerLink="/services" (click)="scrollToTop()">Services</a></li>
        <li><a routerLink="/contact" (click)="scrollToTop()">Contact</a></li>
        <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <h1>Motor<span> D.</span></h1>
    </div>
  </div>
</div>
<div class="info-text">
  <div class="container">
    <div class="info-list">
      <div class="info">
        <h1>Detailing Motor</h1>
        <img src="../../assets/images/Logo2.png" class="decenoi" alt="De Ce Noi">
      </div>
      <div class="info">
        <p>
          <em>Este un proces meticulos prin care <strong>curățăm</strong> și <strong>protejăm</strong> compartimentul motor, eliminând <strong>murdăria</strong>, <strong>grăsimea</strong> și
           depunerile care se pot acumula în timp.<br><br>

           Se poate percepe o <strong>taxă suplimentară</strong> pentru murdărie gravă sau multe fire de păr de câine / pisică.
           <strong>Solicitați o ofertă gratuită</strong> contactându-ne prin e-mail sau vizitați locația noastră fără obligații.</em>
        </p>
      </div>
      <div class="info">
        <img src="../../../assets/images/8.jpg" class="img-aboutUs" alt="About Us Image">
      </div>
    </div>
  </div>
</div>
<div class="price-cards">
  <h2>Preturi detailing motor</h2>
  <div class="card-container">
    <div class="card">
      <h3>Detailing motor</h3>
      <p class="price">€<span>50</span></p>
      <ul>
        <li>Acoperirea componentelor sensibile (alternator, senzori, cabluri electrice, ECU)</li>
        <li>Aplicarea degresantului</li>
        <li>Actionare manuala</li>
        <li>Clatire</li>
        <li>Aplicare dressing</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 2 ore</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    </div>
  <p class="note">Prețurile de mai sus sunt fără TVA și sunt orientative (*).</p>
</div>

<div id="Proiect-special">
  <div class="container">
    <div class="Proiect-special-text">
      <h1>AI UN PROIECT SPECIAL?</h1>
      <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
    </div>
  </div>
</div>

<div class="chat-bubble" (click)="toggleChat()" >
  💬
</div>

<div
  class="chat-window"
  *ngIf="isVisible"
  [@chatAnimation]="isOpen ? 'open' : 'closed'"
  (@chatAnimation.done)="onAnimationDone($event)">

<div class="chat-header">
  <img src="../../assets/images/avatarAI.png" alt="Avatar" class="chat-avatar" />
  <div class="chat-header-texts">
    <span class="small-text">Chat Asistent</span>
    <span class="big-text">Detail Frank AI</span>
  </div>
  <button class="close-btn" (click)="toggleChat()">
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
</div>


<div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.role === 'user' ? 'user-msg' : 'assistant-msg'">
      <div class="message-bubble">
        {{ msg.content }}
      </div>
    </div>
    <button class="reset-chat-btn" (click)="resetChat()">
  <fa-icon [icon]="['fas', 'rotate']"></fa-icon>
  Resetează chatul
</button>
  </div>

<div class="chat-input-area">
  <input
    [(ngModel)]="userInput"
    (keydown.enter)="sendMessage()"
    placeholder="Scrie un mesaj..."
  />
  <button class="send-icon-btn" (click)="sendMessage()" title="Trimite">
    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
  </button>
</div>
</div>
<!-- Footer
  <div class="copyright">
    <p>Copyright by &#64;DETAIL FRANK</p>
  </div>
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Footer Logo">
      </a>
      <p>Copyright by<br> &#64;DETAIL FRANK</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#">Politica de Cookie</a></li>
        <li><a href="#">Politica de confidentialitate</a></li>
      </ul>
    </nav>
  </div> -->
