<div id="aboutUs">
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Logo">
      </a>
      <ul id="sidemenu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">AboutUs</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <h1>About<span>Us</span></h1>
    </div>
  </div>
</div>
<div class="info-text">
  <div class="container">
    <div class="info-list">
      <div class="info">
        <h1>CINE SUNTEM</h1>
        <h2>DETAIL<br>FRANK</h2>
        <h3 class="line"></h3>
      </div>
      <div class="info">
        <p>
          La Detail Frank, nu oferim doar servicii, ci livrăm
          <span>experiențe memorabile</span>. Suntem determinați să aducem un plus de valoare fiecărui proiect
          și să stabilim noi standarde în industrie prin calitatea serviciilor noastre premium.<br><br>
          Oferirim servicii premium și de <span>calitate superioară</span> clienților nostrii, într-o căutare continuă a perfecțiunii si cu o experiență remarcabilă,
          ne-am angajat să depășim așteptările clienților noștri prin servicii personalizate și atenție la detalii.<br><br>
          Credem că fiecare client merită ceva cu <span>adevărat special</span>. De aceea, oferim o gamă largă de nevoi. De la consultanță personalizată,
          până la servicii de întreținere, infrumusetare și protectie de cea mai înaltă calitate, suntem aici pentru a transforma visurile clienților
          noștri în realitate.
        </p>
      </div>
      <div class="info">
        <img src="../../assets/images/7.jpg" class="img-aboutUs" alt="About Us Image">
      </div>
    </div>
  </div>
</div>
<div id="Proiect-special">
  <div class="container">
    <div class="Proiect-special-text">
      <h1>AI UN PROIECT SPECIAL?</h1>
      <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
    </div>
  </div>
</div>
<!-- Footer
  <div class="copyright">
    <p>Copyright by &#64;DETAIL FRANK</p>
  </div>
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Footer Logo">
      </a>
      <p>Copyright by<br> &#64;DETAIL FRANK</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#">Politica de Cookie</a></li>
        <li><a href="#">Politica de confidentialitate</a></li>
      </ul>
    </nav>
  </div> -->
