<div id="aboutUs">
  <div class="container">
    <nav>
      <a routerLink="/" (click)="scrollToTop()">
        <img src="../../assets/images/Logo.png" class="logo" alt="Logo">
      </a>
      <ul id="sidemenu">
        <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
        <li><a routerLink="/about-us" (click)="scrollToTop()">AboutUs</a></li>
        <li><a routerLink="/services" (click)="scrollToTop()">Services</a></li>
        <li><a routerLink="/contact" (click)="scrollToTop()">Contact</a></li>
        <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <h1>About<span>Us</span></h1>
    </div>
  </div>
</div>
<div class="info-text">
  <div class="container">
    <div class="info-list">
      <div class="info">
        <h1>CINE SUNTEM?</h1>
        <img src="../../assets/images/Logo2.png" class="decenoi" alt="De Ce Noi">
      </div>
      <div class="info">
        <p>
          <em>La <strong>Detail Frank</strong>, nu oferim doar servicii, ci <strong>livrăm
          experiențe memorabile</strong>. Suntem determinați să aducem un plus de valoare fiecărui proiect
          și să stabilim noi standarde în industrie prin calitatea serviciilor noastre premium.<br><br>
          <strong>Oferirim servicii premium</strong> și de <span>calitate superioară</span> clienților nostrii, într-o căutare continuă a perfecțiunii si cu o experiență remarcabilă,
          ne-am angajat să depășim așteptările clienților noștri prin servicii personalizate și atenție la detalii.<br><br>
          Credem că <strong>fiecare client merită</strong> ceva cu <span>adevărat special</span>. De aceea, oferim o gamă largă de servicii. De la <strong>consultanță personalizată</strong>,
          până la servicii de <strong>întreținere</strong>, <strong>infrumusetare</strong> și <strong>protectie</strong> de cea mai înaltă calitate, suntem aici ca să <strong>transformăm visurile clienților
          noștri în realitate</strong>.</em>
        </p>
      </div>
      <div class="info">
        <img src="../../assets/images/7.jpg" class="img-aboutUs" alt="About Us Image">
      </div>
    </div>
  </div>
</div>
<div id="Proiect-special">
  <div class="container">
    <div class="Proiect-special-text">
      <h1>AI UN PROIECT SPECIAL?</h1>
      <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
    </div>
  </div>
</div>
<!-- Footer
  <div class="copyright">
    <p>Copyright by &#64;DETAIL FRANK</p>
  </div>
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Footer Logo">
      </a>
      <p>Copyright by<br> &#64;DETAIL FRANK</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#">Politica de Cookie</a></li>
        <li><a href="#">Politica de confidentialitate</a></li>
      </ul>
    </nav>
  </div> -->
