<p>protectie-ceramica works!</p>
<div id="aboutUs">
  <div class="container">
    <nav>
      <a routerLink="/" (click)="scrollToTop()">
        <img src="../../../assets/images/Logo.png" class="logo" alt="Logo">
      </a>
      <ul id="sidemenu">
        <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
        <li><a routerLink="/about-us" (click)="scrollToTop()">AboutUs</a></li>
        <li><a routerLink="/services" (click)="scrollToTop()">Services</a></li>
        <li><a routerLink="/contact" (click)="scrollToTop()">Contact</a></li>
        <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <h1>Protectie<span> C.</span></h1>
    </div>
  </div>
</div>
<div class="info-text">
  <div class="container">
    <div class="info-list">
      <div class="info">
        <h1>Protectie Ceramica</h1>
        <img src="../../assets/images/Logo2.png" class="decenoi" alt="De Ce Noi">
      </div>
      <div class="info">
        <p>
          <em>Descoperă <strong>puterea protecției ceramice de ultimă generație</strong>, special conceputa pentru a-ți menține vehiculul
          impecabil și protejat, indiferent de condiții. <strong>Alegerea unei protecții ceramice nu înseamnă doar un strat
          suplimentar – înseamnă un angajament pentru durabilitate și estetică desăvârșită.</strong><br><br>

        <strong>Ce oferim?</strong><br>
          Un proces profesional și personalizat, care combină aplicarea protectiei ceramice cu experiența noastra pentru un
          rezultat impresionant. Poți alege <strong>protecția în funcție de nevoile tale</strong>, cu o durabilitate între <strong>1 și 4 ani</strong><br><br>

        <strong>Beneficii unice ale protecției ceramice:</strong><br>

      <strong>Barieră împotriva murdăriei:</strong> Vopseaua rămâne mai curată pentru mai mult timp, datorită proprietăților hidrofobe.<br>
    <strong>Rezistență la zgârieturi?</strong> Datorita proprietatilor hidrofobe, masina este mai usor de spalat astfel ca la spalarea manuala se
          micsoreaza riscul de a zgaria lacul, masina respingand o mare parte din muradrie.<br>
        <strong>Luciu profund și aspect premium:</strong> Fiecare detaliu al vopselei tale este amplificat, oferindu-i o strălucire de showroom.<br>
      <strong>Ușurință în întreținere:</strong> Vehiculul tău va fi mai ușor de curățat, reducând efortul și timpul necesar spălării.<br><br></em>
        </p>
      </div>
      <div class="info">
        <img src="../../../assets/images/ceramica.jpg" class="img-aboutUs" alt="About Us Image">
      </div>
    </div>
  </div>
</div>
<div class="price-cards">
  <h2>Preturi: Protectie Ceramica</h2>
  <div class="card-container">
    <div class="card">
      <h3>Caroserie: Garantie <br>4ani/50k km</h3>
      <p class="price">€<span>250</span></p>
      <ul>
        <li>Necesita un pachet de detailing exterior in prealabil</li>
        <li>Aplicare a doua straturi de protectie ceramica</li>
        <li>Cel mai profund aspect lucios</li>
        <li>Cel mai bun tratament hidrofob</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 1 zi</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Caroserie: Garantie <br>3ani/40k km</h3>
      <p class="price">€<span>200</span></p>
      <ul>
        <li>Necesita un pachet de detailing exterior in prealabil</li>
        <li>Aplicare a unui singur strat de protectie ceramica</li>
        <li>Aspect lucios</li>
        <li>Tratament hidrofob</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 1 zi</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Caroserie: Garantie<br> 2ani/25k km</h3>
      <p class="price">€<span>150</span></p>
      <ul>
        <li>Necesita un pachet de detailing exterior in prealabil</li>
        <li>Aplicare a unui singur strat de protectie ceramica</li>
        <li>Aspect lucios</li>
        <li>Tratament hidrofob</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 1 zi</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Caroserie: Garantie <br>1an/12k km</h3>
      <p routerLink="/contact" class="price">€<span>100</span></p>
      <ul>
        <li>Necesita un pachet de detailing exterior in prealabil</li>
        <li>Aplicare a unui singur strat de protectie ceramica</li>
        <li>Aspect lucios</li>
        <li>Tratament hidrofob</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 1 zi</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>

    <div class="card">
      <h3>Piele: Grantie 18luni</h3>
      <p routerLink="/contact" class="price">€<span>80</span></p>
      <ul>
        <li>Degresare pele</li>
        <li>Aplicarea tratamentului ceramic</li>
        <li>Protectie UV</li>
        <li>Efect hidrofob</li>
        <li>Protectie impotriva transferului de culoare</li>
        <li>Pastrarea efectului mat de piele curata</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 1 zi</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>

    <div class="card">
      <h3>Jante (Set): Garantie <br>9luni/10k km</h3>
      <p routerLink="/contact" class="price">€<span>100</span></p>
      <ul>
        <li>Spalarea rotilor</li>
        <li>Decontaminarea jantelor</li>
        <li>Polishare +20€</li>
        <li>Degresare</li>
        <li>Aplicarea tratamentului ceramic</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 1 zi</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>

    <div class="card">
      <h3>Parbriz: Garantie<br> 1-an/12k km</h3>
      <p routerLink="/contact" class="price">€<span>20</span></p>
      <ul>
        <li>Decontaminarea Geamului</li>
        <li>Aplicare tratamentului hidrofob</li>
        <li>Geamurile laterale fata spate si luneta +20€</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 1 zi</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
  </div>
  <p class="note">Prețurile de mai sus sunt fără TVA și sunt orientative (*).</p>
</div>
<div id="Proiect-special">
  <div class="container">
    <div class="Proiect-special-text">
      <h1>AI UN PROIECT SPECIAL?</h1>
      <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
    </div>
  </div>
</div>
<div class="info-text">
  <div class="container">
    <div class="info-list">
      <div class="info">
        <h1>OFERTA NOASTRA<br> FULL PROTECTIE CERAMICA</h1>
        <h2>€420</h2>
        <h3 class="line"></h3>
      </div>
      <div class="info">
        <p>
          <em><strong>Vrei ca masina ta sa beneficieze toata de protectie ceramica?</strong><br><br>

          <strong>Iti punem la dispozitie urmatoarea oferta:</strong><br>
        <strong>Pe Caroserie:</strong> (Necesita un pachet de detaling exterior in prealabil)<br> Valabilitate <strong>4ani sau 50k km!</strong> Strat dublu de ceramica cu cel mai bun efect hidrofob pe care il poti obtine
          si cu cel mai bun luciu adus vreodata lacului.<br><br>

        <strong>Pe Jante:</strong><br> Valabilitate <strong>9luni sau 10k km!</strong> Protejeaza-ti lacul jantelor tale cu o putere de rezistenta a protectiei ceramice la
          temperaturi cuprinse intre 350°C, duritate +3H si o grosime de 0.5 qm.<br><br>

        <strong>Pe Parbriz, geamurile Laterale si Luneta:</strong><br> Valabilitate <strong>1an sau 12k km!</strong> Pe timp de ploaie, cu o viteza de peste 70km/h
          nu vei fi nevoit sa folosesti stergatoarele. Vei beneficia de o vizibilitate maxima pe timp ploios.<br><br>

        <strong>Pe Plastice:</strong><br> Valabilitate <strong>> 1an sau 15k km!</strong> Restaureaza sau Amplifica culoarea plasticului tau si bucura-te de efectul ei hidrofob.<br><br>

      <strong>Pe Piele:</strong><br> Valabilitate <strong>18 luni!</strong> Protejeaza-ti pielea impotriva razelor UV si a transferului de culoare, astfel te vei bucura de o
          de o piele intretinuta si mereu vei avea senzatia ca interiorul masinii tale este nou.</em><br>
        </p>
      </div>
      <div class="info">
        <img src="../../../assets/images/ceramica.jpg" class="img-aboutUs" alt="About Us Image">
      </div>
    </div>
  </div>
</div>

<div class="chat-bubble" (click)="toggleChat()" >
  💬
</div>

<div
  class="chat-window"
  *ngIf="isVisible"
  [@chatAnimation]="isOpen ? 'open' : 'closed'"
  (@chatAnimation.done)="onAnimationDone($event)">

<div class="chat-header">
  <img src="../../assets/images/avatarAI.png" alt="Avatar" class="chat-avatar" />
  <div class="chat-header-texts">
    <span class="small-text">Chat Asistent</span>
    <span class="big-text">Detail Frank AI</span>
  </div>
  <button class="close-btn" (click)="toggleChat()">
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
</div>


<div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.role === 'user' ? 'user-msg' : 'assistant-msg'">
      <div class="message-bubble">
        {{ msg.content }}
      </div>
    </div>
    <button class="reset-chat-btn" (click)="resetChat()">
  <fa-icon [icon]="['fas', 'rotate']"></fa-icon>
  Resetează chatul
</button>
  </div>

<div class="chat-input-area">
  <input
    [(ngModel)]="userInput"
    (keydown.enter)="sendMessage()"
    placeholder="Scrie un mesaj..."
  />
  <button class="send-icon-btn" (click)="sendMessage()" title="Trimite">
    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
  </button>
</div>
</div>
<!-- Footer
  <div class="copyright">
    <p>Copyright by &#64;DETAIL FRANK</p>
  </div>
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Footer Logo">
      </a>
      <p>Copyright by<br> &#64;DETAIL FRANK</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#">Politica de Cookie</a></li>
        <li><a href="#">Politica de confidentialitate</a></li>
      </ul>
    </nav>
  </div> -->
