<div id="aboutUs">
  <div class="container">
    <nav>
      <a routerLink="/" (click)="scrollToTop()">
        <img src="../../../assets/images/Logo.png" class="logo" alt="Logo">
      </a>
      <ul id="sidemenu">
        <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
        <li><a routerLink="/about-us" (click)="scrollToTop()">AboutUs</a></li>
        <li><a routerLink="/services" (click)="scrollToTop()">Services</a></li>
        <li><a routerLink="/contact" (click)="scrollToTop()">Contact</a></li>
        <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <h1>Interior<span> D.</span></h1>
    </div>
  </div>
</div>
<div class="info-text">
  <div class="container">
    <div class="info-list">
      <div class="info">
        <h1>Detailing Interior</h1>
        <img src="../../assets/images/Logo2.png" class="decenoi" alt="De Ce Noi">
        <h3 class="line"></h3>
      </div>
      <div class="info">
        <p>
        <em><strong>Întregul interior</strong> precum și <strong>compartimentul portbagajului</strong> sunt supuse curățării în profunzime.
      <strong>Tapițeria din piele</strong> este curățată și apoi este supusă procesului de <strong>hidratare</strong>.
    <strong>Covoarele</strong>, <strong>mocheta</strong> și <strong>scaunele</strong> textile sunt spălate prin <strong>inserție-extracție</strong> .
  <strong>Planșa de bord</strong>, <strong>consola centrală</strong> și <strong>panourile ușilor</strong> sunt curățate și apoi <strong>protejate cu un dressing</strong> pentru a
          obține aspectul lor original. Geamurile sunt curățate fără dungi.<br><br>

          Se poate percepe o <strong>taxă suplimentară</strong> pentru murdărie gravă sau multe fire de păr de câine / pisică.
        <strong>Solicitați o ofertă gratuită</strong> contactându-ne prin e-mail sau vizitați locația noastră fără obligații.</em>
        </p>
      </div>
      <div class="info">
        <img src="../../../assets/images/interior.jpg" class="img-aboutUs" alt="About Us Image">
      </div>
    </div>
  </div>
</div>
<div class="price-cards">
  <h2>Preturi detailing interior</h2>
  <div class="card-container">
    <div class="card">
      <h3>Detailing interior</h3>
      <p class="price">€<span>100</span></p>
      <ul>
        <li>Aspirare completa si scoaterea nisipului din mocheta</li>
        <li>Curățare volan, consola centrală și fetele ușilor</li>
        <li>Curățarea și hidratarea zonelor din piele</li>
        <li>Scaunele din material, mocheta şi covoarele (inserție extracție)</li>
        <li>Curatarea centurilor si a elementelor vitrate</li>
        <li>Curatarea portbagajului</li>
        <li>Tratare elementelor din plastic (protecție UV, aspect nou)</li>
        <li>Curățarea gemurilor fără urme</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 1 zi</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Detailing rapid interior</h3>
      <p class="price">€<span>50</span></p>
      <ul>
        <li>Aspirare completa</li>
        <li>Curățare volan, consola centrală și fetele ușilor</li>
        <li>Curatare elementele vitrate</li>
        <li>Curatare covorase</li>
        <li>Curatarea Portbagajului</li>
        <li>Curățarea gemurilor fără urme</li>
      </ul>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Tratament cu Ozone</h3>
      <p class="price">€<span>40</span></p>
      <ul>
        <li>Îndepărtarea mirosurilor murdare</li>
        <li>Gazul de ozon neutralizează până în cele mai mici colțuri</li>
        <li>Acest pachet este posibil doar după o curățare interioară</li>
      </ul>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Retapitare plafon</h3>
      <p routerLink="/contact" class="price">€<span>200</span></p>
      <ul>
        <li>Demontarea stalpilor</li>
        <li>Demontarea parasolarelor</li>
        <li>Demontarea manerelor si a plasticelor</li>
        <li>Inlocuirea materialului vechi si al adezivului</li>
        <li>Se monteaza totul inapoi</li>
        <li>Pentru retapitarea stalpilor se mai adauga 100€</li>
      </ul>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
  </div>
  <p class="note">Prețurile de mai sus sunt fără TVA și sunt orientative (*).</p>
</div>

<div id="Proiect-special">
  <div class="container">
    <div class="Proiect-special-text">
      <h1>AI UN PROIECT SPECIAL?</h1>
      <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
    </div>
  </div>
</div>

<div class="chat-bubble" (click)="toggleChat()" >
  💬
</div>

<div
  class="chat-window"
  *ngIf="isVisible"
  [@chatAnimation]="isOpen ? 'open' : 'closed'"
  (@chatAnimation.done)="onAnimationDone($event)">

<div class="chat-header">
  <img src="../../assets/images/avatarAI.png" alt="Avatar" class="chat-avatar" />
  <div class="chat-header-texts">
    <span class="small-text">Chat Asistent</span>
    <span class="big-text">Detail Frank AI</span>
  </div>
  <button class="close-btn" (click)="toggleChat()">
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
</div>


<div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.role === 'user' ? 'user-msg' : 'assistant-msg'">
      <div class="message-bubble">
        {{ msg.content }}
      </div>
    </div>
    <button class="reset-chat-btn" (click)="resetChat()">
  <fa-icon [icon]="['fas', 'rotate']"></fa-icon>
  Resetează chatul
</button>
  </div>

<div class="chat-input-area">
  <input
    [(ngModel)]="userInput"
    (keydown.enter)="sendMessage()"
    placeholder="Scrie un mesaj..."
  />
  <button class="send-icon-btn" (click)="sendMessage()" title="Trimite">
    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
  </button>
</div>
</div>
<!-- Footer
  <div class="copyright">
    <p>Copyright by &#64;DETAIL FRANK</p>
  </div>
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Footer Logo">
      </a>
      <p>Copyright by<br> &#64;DETAIL FRANK</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#">Politica de Cookie</a></li>
        <li><a href="#">Politica de confidentialitate</a></li>
      </ul>
    </nav>
  </div> -->
