<div id="contact">
  <div class="container">
    <nav>
      <a routerLink="/" (click)="scrollToTop()">
        <img src="../../assets/images/Logo.png" class="logo" alt="Logo">
      </a>
      <ul id="sidemenu">
        <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
        <li><a routerLink="/about-us" (click)="scrollToTop()">About Us</a></li>
        <li><a routerLink="/services" (click)="scrollToTop()">Services</a></li>
        <li><a routerLink="/contact" (click)="scrollToTop()">Contact</a></li>
        <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <h1>Contact<span>Us</span></h1>
    </div>
  </div>
</div>

<div id="contact-form">
  <div class="container">
    <div class="row">
      <div class="contact-left">
        <h1 class="sub-title"><span>Contact</span> DETAIL FRANK</h1>
        <p style="cursor: pointer;">
          <fa-icon [icon]="['fas', 'envelope']" style="margin-right: 5px;"></fa-icon>
          <a href="mailto:szantofrancisc08@gmail.com" style="color: #2b2d42; text-decoration: none; margin-left: 5px;">
            szantofrancisc08&#64;gmail.com
          </a>
        </p>
        <p (click)="copyPhoneNumber()" style="cursor: pointer;">
          <fa-icon [icon]="['fas', 'phone']" style="margin-right: 5px;"></fa-icon>
           Tel:
          <span style="color: #2b2d42; font-weight: bold;">+40724552359</span>
          @if (copied) {
            <span style="color: green; margin-left: 10px;">Copiat!</span>
          }
        </p>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=100086361797680&locale=ro_RO" target="_blank">
            <fa-icon [icon]="['fab', 'facebook']" size="1x"></fa-icon>
          </a>
          <a href="https://www.instagram.com/detail.frank" target="_blank">
            <fa-icon [icon]="['fab', 'instagram']" size="1x"></fa-icon>
          </a>
          <a href="https://www.tiktok.com/@detail.frank" target="_blank">
            <fa-icon [icon]="['fab', 'tiktok']" size="1x"></fa-icon>
          </a>
          <a href="https://www.youtube.com/@detail_frank" target="_blank">
            <fa-icon [icon]="['fab', 'youtube']" size="1x"></fa-icon>
          </a>
          <a href="https://wa.me/40724552359" target="_blank" aria-label="WhatsApp">
            <fa-icon [icon]="['fab', 'whatsapp']" size="1x"></fa-icon>
          </a>
        </div>
      </div>
      <div class="contact-right">
        <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
          <input type="text" name="Nume" placeholder="Nume" ngModel required>
          <input type="email" name="Email" placeholder="Email" ngModel required>
          <textarea name="Mesaj" rows="6" placeholder="Mesaj" ngModel></textarea>
          <button type="submit" class="btn" [disabled]="!contactForm.valid">TRIMITE MESAJ</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="Proiect-special">
  <div class="container">
    <div class="Proiect-special-text">
      <h1>AI UN PROIECT SPECIAL?</h1>
      <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
    </div>
  </div>
</div>

<div class="chat-bubble" (click)="toggleChat()" >
  💬
</div>

<div
  class="chat-window"
  *ngIf="isVisible"
  [@chatAnimation]="isOpen ? 'open' : 'closed'"
  (@chatAnimation.done)="onAnimationDone($event)">

<div class="chat-header">
  <img src="../../assets/images/avatarAI.png" alt="Avatar" class="chat-avatar" />
  <div class="chat-header-texts">
    <span class="small-text">Chat Asistent</span>
    <span class="big-text">Detail Frank AI</span>
  </div>
  <button class="close-btn" (click)="toggleChat()">
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
</div>


<div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.role === 'user' ? 'user-msg' : 'assistant-msg'">
      <div class="message-bubble">
        {{ msg.content }}
      </div>
    </div>
    <button class="reset-chat-btn" (click)="resetChat()">
  <fa-icon [icon]="['fas', 'rotate']"></fa-icon>
  Resetează chatul
</button>
  </div>

<div class="chat-input-area">
  <input
    [(ngModel)]="userInput"
    (keydown.enter)="sendMessage()"
    placeholder="Scrie un mesaj..."
  />
  <button class="send-icon-btn" (click)="sendMessage()" title="Trimite">
    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
  </button>
</div>
</div>
<!-- Footer
  <div class="copyright">
    <p>Copyright by &#64;DETAIL FRANK</p>
  </div>
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Footer Logo">
      </a>
      <p>Copyright by<br> &#64;DETAIL FRANK</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#">Politica de Cookie</a></li>
        <li><a href="#">Politica de confidentialitate</a></li>
      </ul>
    </nav>
  </div> -->
