<div id="Services">
  <div class="container">
      <nav>
          <a routerLink="/">
              <img src="../../assets/images/Logo.png" class="logo" alt="Logo">
          </a>
          <ul id="sidemenu">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/aboutUs">AboutUs</a></li>
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="/contact">Contact</a></li>
              <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
          </ul>
          <i class="fa-solid fa-bars" (click)="openMenu()"></i>
      </nav>
      <div class="header-text">
          <h1>Service<span>S</span></h1>
      </div>
  </div>

  <!-- Servicii Section -->
  <div id="Servicii">
      <div class="container">
          <div class="row">
              <div class="about-col-1">
                  <h1>DETAILING<br> INTERIOR</h1>
                  <img src="../../assets/images/11.jpg" alt="Detailing Interior">
                  <a href="/detailing-interior" class="btn">DETALII</a>
              </div>
              <div class="about-col-2">
                  <h1>DETAILING<br> EXTERIOR</h1>
                  <img src="../../assets/images/10.jpg" alt="Detailing Exterior">
                  <a href="/detailing-exterior" class="btn">DETALII</a>
              </div>
          </div>
          <div class="row">
              <div class="about-col-1">
                  <h1>DETAILING<br> MOTOR</h1>
                  <img src="../../assets/images/8.jpg" alt="Detailing Motor">
                  <a href="#" class="btn">DETALII</a>
              </div>
              <div class="about-col-2">
                  <h1>PROTECTIE<br> CERAMICA</h1>
                  <img src="../../assets/images/9.jpg" alt="Protectie Ceramica">
                  <a href="#" class="btn">DETALII</a>
              </div>
          </div>
      </div>
  </div>

  <div id="Proiect-special">
      <div class="container">
          <div class="Proiect-special-text">
              <h1>AI UN PROIECT SPECIAL?</h1>
              <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
          </div>
      </div>
  </div>

  <div class="copyright">
      <p>Copyright by &#64;DETAIL FRANK</p>
  </div>

  <div class="container">
      <nav>
          <a routerLink="/">
              <img src="../../assets/images/Logo.png" class="logo" alt="Logo">
          </a>
          <p>Copyright by<br> &#64;DETAIL FRANK</p>
          <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/aboutUs">AboutUs</a></li>
              <li><a routerLink="/services">Services</a></li>
              <li><a routerLink="/contact">Contact</a></li>
              <li><a href="#">Politica de Cookie</a></li>
              <li><a href="#">Politica de confidentialitate</a></li>
          </ul>
      </nav>
  </div>
</div>
