<div id="aboutUs">
  <div class="container">
    <nav>
      <a routerLink="/" (click)="scrollToTop()">
        <img src="../../../assets/images/Logo.png" class="logo" alt="Logo">
      </a>
      <ul id="sidemenu">
        <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
        <li><a routerLink="/about-us" (click)="scrollToTop()">AboutUs</a></li>
        <li><a routerLink="/services" (click)="scrollToTop()">Services</a></li>
        <li><a routerLink="/contact" (click)="scrollToTop()">Contact</a></li>
        <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <h1>Exterior<span> D.</span></h1>
    </div>
  </div>
</div>
<div class="info-text">
  <div class="container">
    <div class="info-list">
      <div class="info">
        <h1>Detailing Exterior</h1>
        <img src="../../assets/images/Logo2.png" class="decenoi" alt="De Ce Noi">
      </div>
      <div class="info">
        <p>
          <em>Iți oferim un pachet complet care îmbină <strong>strălucirea originală</strong>
           a mașinii tale si <strong>protectia</strong> în același timp de factorii externi.<br><br>

          <strong>1. Spălare Profesională</strong><br>
          Procesul începe cu o spălare delicată, folosind <strong>produse premium</strong> și <strong>tehnici avansate</strong> pentru a
          elimina murdăria și contaminanții <strong>fara riscul de a apărea zgarieturi</strong>.
          Fiecare detaliu este atent curățat pentru a pregăti suprafața pentru următorii pași.<br><br>

           2. <strong>Decontaminare</strong><br>
          Prin utilizarea clay bar-ului și a soluțiilor specializate, eliminăm impuritățile persistente, precum
        <strong>bitumul</strong>, <strong>particulele de fier</strong>, <strong>petele de apă</strong> sau <strong>reziduurile industriale</strong>, lăsând suprafața netedă și impecabilă.<br><br>

           3. <strong>Corectie Lac</strong><br>
          Procesul de corectare a lacului constă într-un "polish" efectuat cu <strong>1 pana la 3 pași</strong>, în funcție de starea
          vehiculului. Aceasta include:<br><br>

           4. <strong>Protecție Finală: Ceară sau Protectie Ceramică</strong><br>
          Pentru a menține rezultatele obținute, aplicăm o <strong>protecție durabilă</strong> și <strong>performantă</strong>:<br><br>

        <strong>Sealant sintetic</strong>: pentru o protecție superioară și un luciu spectaculos.<br> Valabilitate <strong>< 1 luna</strong> <br>
      <strong>Ceară premium</strong>: ideală pentru un aspect clasic si lucios.<br> Valabilitate <strong>< 6 luni</strong><br>
    <strong>Protectie ceramică</strong>: soluția ultimă împotriva murdăriei, zgârieturilor fine și razelor UV, oferind protecție
          pe termen lung și o strălucire de neegalat.<br> Valabilitate <strong>1 - 4 ani</strong>.</em>
        </p>
      </div>
      <div class="info">
        <img src="../../../assets/images/7.jpg" class="img-aboutUs" alt="About Us Image">
      </div>
    </div>
  </div>
</div>
<div class="price-cards">
  <h2>Preturi Detailing Exterior</h2>
  <div class="card-container">
    <div class="card">
      <h3>Spalarea Profesionala</h3>
      <p routerLink="/contact" class="price">€<span>20</span></p>
      <ul>
        <li>Curatarea jantelor si a cauciucului</li>
        <li>Decontaminarea jantelor</li>
        <li>Prespalare cu spuma activa</li>
        <li>Spalare manuala metoda celor daoua galeti (PH neutru)</li>
        <li>Pentru decontaminarea chimica si manuala a lacului se mai adauga 10€</li>
        <li>Aspirare interior si stergerea prafului</li>
        <li>Curatarea gamurilor interior si exterior</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 2 ore</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Polish</h3>
      <p class="price">€<span>150</span></p>
      <ul>
        <li>Spalare profesionala</li>
        <li>Decontaminare chimica si mecanica</li>
        <li>Izolare elemente plastic sau cauciuc</li>
        <li>Polish</li>
        <li>Aplicare cera</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 8 ore</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Corectie Lac 2 Pasi</h3>
      <p class="price">€<span>200</span></p>
      <ul>
        <li>Spalare profesionala</li>
        <li>Decontaminare chimica si mecanica</li>
        <li>Izolare elemente plastic sau cauciuc</li>
        <li>Corectarea lacului cu abrazivitate medie</li>
        <li>Polish</li>
        <li>Aplicare cera</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 12 ore</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
    <div class="card">
      <h3>Full Detailing Exterior</h3>
      <p class="price">€<span>300</span></p>
      <ul>
        <li>Spalare profesionala</li>
        <li>Decontaminare chimica si mecanica</li>
        <li>Izolare elemente plastic sau cauciuc</li>
        <li>Corectarea lacului cu abrazivitate maxima</li>
        <li>Corectarea lacului cu abrazivitate medie</li>
        <li>Polish</li>
        <li>Aplicare cera</li>
      </ul>
      <p class="duration">⏺ Durata aproximativa: 2 zile</p>
      <button routerLink="/contact" class="btn">FĂ O PROGRAMARE</button>
    </div>
  </div>
  <p class="note">Prețurile de mai sus sunt fără TVA și sunt orientative (*).</p>
</div>

<div id="Proiect-special">
  <div class="container">
    <div class="Proiect-special-text">
      <h1>AI UN PROIECT SPECIAL?</h1>
      <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
    </div>
  </div>
</div>

<div class="chat-bubble" (click)="toggleChat()" >
  💬
</div>

<div
  class="chat-window"
  *ngIf="isVisible"
  [@chatAnimation]="isOpen ? 'open' : 'closed'"
  (@chatAnimation.done)="onAnimationDone($event)">

<div class="chat-header">
  <img src="../../assets/images/avatarAI.png" alt="Avatar" class="chat-avatar" />
  <div class="chat-header-texts">
    <span class="small-text">Chat Asistent</span>
    <span class="big-text">Detail Frank AI</span>
  </div>
  <button class="close-btn" (click)="toggleChat()">
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
</div>


<div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.role === 'user' ? 'user-msg' : 'assistant-msg'">
      <div class="message-bubble">
        {{ msg.content }}
      </div>
    </div>
    <button class="reset-chat-btn" (click)="resetChat()">
  <fa-icon [icon]="['fas', 'rotate']"></fa-icon>
  Resetează chatul
</button>
  </div>

<div class="chat-input-area">
  <input
    [(ngModel)]="userInput"
    (keydown.enter)="sendMessage()"
    placeholder="Scrie un mesaj..."
  />
  <button class="send-icon-btn" (click)="sendMessage()" title="Trimite">
    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
  </button>
</div>
</div>
<!-- Footer
  <div class="copyright">
    <p>Copyright by &#64;DETAIL FRANK</p>
  </div>
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Footer Logo">
      </a>
      <p>Copyright by<br> &#64;DETAIL FRANK</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#">Politica de Cookie</a></li>
        <li><a href="#">Politica de confidentialitate</a></li>
      </ul>
    </nav>
  </div> -->
