<div id="Home">
  <div class="container">
    <nav>
      <a (click)="scrollToTop()">
        <img src="assets/images/Logo.png" class="logo" alt="Logo">
      </a>
      <ul id="sidemenu">
        <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
        <li><a routerLink="/about-us" (click)="scrollToTop()">AboutUs</a></li>
        <li><a routerLink="/services" (click)="scrollToTop()">Services</a></li>
        <li><a routerLink="/contact" (click)="scrollToTop()">Contact</a></li>
        <i class="fa-solid fa-xmark" (click)="closeMenu()"></i>
      </ul>
      <i class="fa-solid fa-bars" (click)="openMenu()"></i>
    </nav>
    <div class="header-text">
      <p>Ce iubesti, Protejezi!</p>
      <h1>OFERIM SERVICII PROFESIONALE<br> DE DETAILING</h1>
    </div>
    <a routerLink="/contact" class="btn-programare">FA O PROGRAMARE</a>
    <!-- Cere Oferta -->
    <div id="CereOferta">
      <div class="container">
        <div class="row">
          <div class="about-col-1">
            <img src="assets/images/4.jpg" alt="Detailing Interior" >
            <a routerLink="/detailing-interior" class="btn-c1">DETALII</a>
          </div>
          <div class="about-col-2">
            <img src="assets/images/3.jpg" alt="Detailing Exterior">
            <a routerLink="/detailing-exterior" class="btn-c2">DETALII</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- De Ce Noi -->
  <div id="DeCeNoi">
    <div class="container">
      <div class="DeCeNoi-text">
        <h1>DE CE NOI?</h1>
        <img src="../../assets/images/Logo2.png" alt="De Ce Noi">
        <p>FACEM TOTUL DIN PASIUNE PENTRU CLIENTII<br> NOSTRI, IAR EI NE RECOMANDA!</p>
      </div>
    </div>
  </div>
  <!-- Services -->
  <div id="services1">
    <div class="container">
      <div class="rand">
        <div class="col-1">
          <img src="../../assets/images/polish.jpg" alt="Corectie Lac">
        </div>
        <div class="col-2">
          <h1 class="sub-title">CORECTIE LAC</h1>
          <p class="line"></p>
          <p class="paragraf">
            &nbsp;&nbsp;Un serviciu de corectie lac este compus din mai multe tipuri, cum ar fi:<br> - ONE STEP prin folosirea unui
            singur tip de pad si pasta compound.<br> - TWO STEPS este compus din doua tipuri de pad-uri:
            Abraziv in combinatie cu pasta de finish.<br>
            - THREE STEPS smirghel granulatie < 2000 cu apa, urmata de TWO STEPS.
          </p>
          <a href="#" class="btn">DETALII</a>
        </div>
      </div>
    </div>
  </div>
  <div id="services2">
    <div class="container">
      <div class="rand-t">
        <div class="col-4-t">
          <img src="../../assets/images/ceramica.jpg" alt="Protectie Ceramica">
        </div>
      </div>
      <div class="rand">
        <div class="col-3">
          <h1 class="sub-title">PROTECTIE CERAMICA</h1>
          <p class="line"></p>
          <p class="paragraf">
            &nbsp;&nbsp;Confera suprafetelor un aspect lucios si neted, contribuind la mentinerea valorii si esteticii
            acestora pe termen lung.<br> &nbsp;&nbsp;Protectie impotriva agentilor externi, razelor UV so toti factorii ce
            contribuie la deteriorarea lacului.
          </p>
          <a href="#" class="btn">DETALII</a>
        </div>
        <div class="col-4">
          <img src="../../assets/images/ceramica.jpg" alt="Protectie Ceramica">
        </div>
      </div>
    </div>
  </div>
  <div id="services3">
    <div class="container">
      <div class="rand">
        <div class="col-5">
          <img src="../../assets/images/interior.jpg" alt="Detailing Interior">
        </div>
        <div class="col-6">
          <h1 class="sub-title">DETAILING INTERIOR</h1>
          <p class="line"></p>
          <p class="paragraf">
            &nbsp;&nbsp;Revigoreaza interiorul masinii tale, eliminand in acelasi timp petele, bacteriile si mizeria din
            intreg habitaclu.
          </p>
          <a href="#" class="btn">DETALII</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Special Project -->
  <div id="Proiect-special">
    <div class="container">
      <div class="Proiect-special-text">
        <h1>AI UN PROIECT SPECIAL?</h1>
        <a routerLink="/contact" class="btn-proiectspecial">HAI SA DISCUTAM</a>
      </div>
    </div>
  </div>
  <!-- Social Media -->
  <div id="social-media">
    <div class="container">
      <h1 class="social-media-title">SOCIAL MEDIA</h1>
      <div class="social-media-list">
        <div class="media">
          <img src="../../assets/images/IG.jpg" alt="Instagram">
          <div class="layer">
            <h2>Instagram</h2>
            <p>FOLLOW</p>
            <a href="https://www.instagram.com/detail.frank" target="_blank">
              <fa-icon [icon]="['fab', 'instagram']" size="1x"></fa-icon>
            </a>
          </div>
        </div>
        <div class="media">
          <img src="../../assets/images/YT.jpg" alt="YouTube">
          <div class="layer">
            <h2>YouTube</h2>
            <p>SUBSCRIBE</p>
            <a href="https://www.youtube.com/&#64;detail_frank" target="_blank">
              <fa-icon [icon]="['fab', 'youtube']" size="1x"></fa-icon>
            </a>
          </div>
        </div>
        <div class="media">
          <img src="../../assets/images/TICKTOCK.jpg" alt="TikTok">
          <div class="layer">
            <h2>TikTok</h2>
            <p>FOLLOW</p>
            <a href="https://www.tiktok.com/&#64;detail.frank" target="_blank">
              <fa-icon [icon]="['fab', 'tiktok']" size="1x"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="chat-bubble" (click)="toggleChat()" >
  💬
</div>

<div
  class="chat-window"
  *ngIf="isVisible"
  [@chatAnimation]="isOpen ? 'open' : 'closed'"
  (@chatAnimation.done)="onAnimationDone($event)">

<div class="chat-header">
  <img src="../../assets/images/avatarAI.png" alt="Avatar" class="chat-avatar" />
  <div class="chat-header-texts">
    <span class="small-text">Chat Asistent</span>
    <span class="big-text">Detail Frank AI</span>
  </div>
  <button class="close-btn" (click)="toggleChat()">
    <fa-icon [icon]="['fas', 'xmark']"></fa-icon>
  </button>
</div>


<div class="chat-messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.role === 'user' ? 'user-msg' : 'assistant-msg'">
      <div class="message-bubble">
        {{ msg.content }}
      </div>
    </div>
    <button class="reset-chat-btn" (click)="resetChat()">
  <fa-icon [icon]="['fas', 'rotate']"></fa-icon>
  Resetează chatul
</button>
  </div>

<div class="chat-input-area">
  <input
    [(ngModel)]="userInput"
    (keydown.enter)="sendMessage()"
    placeholder="Scrie un mesaj..."
  />
  <button class="send-icon-btn" (click)="sendMessage()" title="Trimite">
    <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
  </button>
</div>

</div>

  <!-- Footer
  <div class="copyright">
    <p>Copyright by &#64;DETAIL FRANK</p>
  </div>
  <div class="container">
    <nav>
      <a routerLink="/">
        <img src="../../assets/images/Logo.png" class="logo" alt="Footer Logo">
      </a>
      <p>Copyright by<br> &#64;DETAIL FRANK</p>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about-us">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="#">Politica de Cookie</a></li>
        <li><a href="#">Politica de confidentialitate</a></li>
      </ul>
    </nav>
  </div> -->
</div>
